.editor-container {
  display: flex;
  flex-direction: column;

  border: 1px solid #ccc;
  border-radius: 4px;
  width: 100vw;
  height: 100vh;
  /* flex: 1 1 auto; */

  /* width: 80%; */
  overflow: hidden;
}
.main-body {
  display: flex;
  flex-direction: row;

  width: 100%;
  overflow: hidden;

}