
.file-structure-container {
  flex: 1 1 auto;
  overflow: hidden;
  width: 20%;
  height: 100%;
  background-color: #e80404;
  border-right: 1px solid #ddd;
  padding: 10px;
}

.child{
  margin-left: 10px;
}
